.App-header{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./components/assets/inside_frig.png);
    background-color: maroon;
    background-blend-mode: darken;
    background-position-x: -1vh;
    background-position-y: -20vh;
    color: antiquewhite;
    font-size: 20px;
}

.linkin{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}

a:link.topLinks{
    text-decoration: none;
    color: antiquewhite;
  }
  
  a:visited {
    color: antiquewhite;
  }

  a:hover{
    font-weight: 900;
    color: steelblue;
  }

/* ----------------------------------
-------- Ingredients -------------
---------------------------------- */

.mainSearch{
    border: solid;
    width: 100vw;
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: steelblue;
    padding-bottom: 10vh;
    padding-top: 7vh;
}

.searchBar{
    width: 25vw;
}

a:link.foodNames {
  text-decoration: none;
    color: steelblue;
}

a:visited.foodNames {
  color: steelblue;
}

a:hover.foodNames {
  font-weight: 900;
  color: maroon;
}

/* ----------------------------------
-------- Forms -------------
---------------------------------- */

.form{
  
}

button{
  margin-top: 2vh;
}


.fullReadOut{
  display: flex;
  margin-bottom: 10vh;
}

.ingred{
  width: 55vw;
}

.foodTitles{
  width: 55vw;
}


/* .pageTurners{
  display: flex;
} */
/* -------------------------------------
-------------- Footer ---------------
------------------------------------- */

.footer{
    width: 100vw;
    height: 25vh;
    background-color: steelblue;
    font-size: 14px;
    color: maroon;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a.footerLinks{
  text-decoration: none;
  color: maroon;
}

a:visited.footerLinks {
  color: maroon;
}

a:hover.footerLinks {
  font-weight: 900;
  color: antiquewhite;
}
